<html lang="en">

<head>
    <title>Animal Photos | Add a new Species</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Animal Photos</h1>
            <h3>Animal photography worldwide network</h3>
        </div>
        <div class="login_area">
            <a href='{{url_for("disconnect")}}'>Logout</a>
        </div>
    </div>
    <div class="page">
        <div class="form">
            <form action="{{url_for('newSpecies')}}" method="POST">
                <h5>Add a new species</h5>
                <label for="name" class="form_label">Species Name</label>
                <input type="text" placeholder="Enter the species name her" name="name" class="form_text_input"><br>
                <input type="submit" value="Create" class="form_submit">
            </form>
        </div>
    </div>
</body>

</html>