<html lang="en">

<head>
    <title>Animal Photos | Edit a Photo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Animal Photos</h1>
            <h3>Animal photography worldwide network</h3>
        </div>
        <div class="login_area">
            <a href='{{url_for("disconnect")}}'>Logout</a>
        </div>
    </div>
    <div class="page">
        <div class="form">
            <form action="{{url_for('editPhoto', species_id=photo.species_id, photo_id=photo.id)}}" method="POST">
                <h5>Edit a photo</h5>
                <label for="title" class="form_label">Title of photo</label>
                <input type="text" placeholder="Enter the photo title her" name="title" class="form_text_input"
                    required value="{{photo.title}}"><br>
                <label for="url" class="form_label">URL of photo</label>
                <input type="text" placeholder="Enter the photo url her" name="url" class="form_text_input"
                    required value="{{photo.url}}"><br>
                <label for="description" class="form_label">Description of photo</label>
                <textarea placeholder="Enter the photo description her" name="description"
                    class="form_text_input">{{photo.description}}</textarea><br>
                <label for="species" class="form_label">Species</label>
                <select name="species" class="form_text_input" required>
                    {% for x in species %}
                    {% if photo.species_id == x.id %}
                    <option value="{{x.name}}" selected="selected">{{x.name}}</option>
                    {% else %}
                    <option value="{{x.name}}">{{x.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select><br>
                <input type="submit" value="Save" class="form_submit">
                <a href="{{url_for('showAPhoto', species_id=photo.species_id, photo_id=photo.id)}}">Cancel</a>
            </form>
        </div>
    </div>
</body>

</html>