<html lang="en">

<head>
    <title>Animal Photos</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Animal Photos</h1>
            <h3>Animal photography worldwide network</h3>
        </div>
        <div class="login_area">
            <a href='{{url_for("gdisconnect")}}'>Logout</a>
        </div>
    </div>
    <div class="page">
        <div class="list">
            <div class="toolbar">
                <a href="{{url_for(newSpecies)}}" class="tool">Add a new species</a>
                <a href="{{url_for(newPhoto)}}" class="tool">Add a new photo</a>
                <a href="{{url_for(showTimeline)}}" class="tool">My Uploads</a>
            </div>
            {% for x in species %}
            <div class="item">
                <p><a href='{{url_for("showPhotos", species_id=x.id)}}'>{{x.name}}</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="sidebar">
            <div class="about">
                <h5>About Animal Photos</h5>
                <p>
                    This Web App was designed by <em>Seif El-Din Sweilam</em> as a project in <strong>Udacity</strong>
                    nanodegree program. All photos and content in this webapp are for educational purposes only and
                    won't be used in any type of business.
                </p>
            </div>
        </div>
    </div>
</body>

</html>