<html lang="en" itemscope itemtype="http://schema.org/Article">

<head>
    <title>Animal Photos | Login</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '817555142154-1v4u2v31tv6qfnkkjifd7g2ikmpigtn2.apps.googleusercontent.com',
                    // Scopes to request in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
            });
        }
    </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Animal Photos</h1>
            <h3>Animal photography worldwide network</h3>
        </div>
    </div>
    <div class="login_page">
        <div class="route">
            <span onclick="location.href=`{{url_for('showSpecies')}}`;" class="route_item">Home</span> --> <span
                class="route_item">Login Page</span>
        </div>
        <div class="providers">
            <button id="signinButton"></button>
            <div id="result"></div>
        </div>
        <div class="form">
            <form action="{{url_for('showLogin')}}" method="POST">
                <h5>Sign In using E-mail</h5>
                <label for="email" class="form_label">E-mail Adress</label><br>
                <input type="text" name="email" class="form_text_input"><br>
                <label for="password" class="form_label">Password</label><br>
                <input type="password" name="password" class="form_text_input"><br>
                <input type="submit" value="Sign In">
                Don't have an account?<a href="{{url_for('showRegister')}}">Register Now</a>
            </form>
        </div>
    </div>
    <script>
        $('#signinButton').click(function () {
            function signInCallback(authResult) {
                if (authResult['code']) {
                    $('#signinButton').attr('style', 'display: none');
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 2000);
                        },
                        processData: false,
                        data: authResult['code']
                    });
                } else {
                    // handle error
                    console.log('There was an error: ' + authResult['error']);
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
            auth2.grantOfflineAccess().then(signInCallback);
        });
    </script>
</body>

</html>