<html lang="en">

<head>
    <title>Animal Photos | {{photo.title}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>Animal Photos</h1>
            <h3>Animal photography worldwide network</h3>
        </div>
        <div class="login_area">
            <a href='{{url_for("disconnect")}}'>Logout</a>
        </div>
    </div>
    <div class="page">
        <div class="list">
            <div class="route">
                <span onclick="location.href=`{{url_for('showSpecies')}}`;" class="route_item">Home</span> --> <span
                    class="route_item"
                    onclick="location.href=`{{url_for('showPhotos', species_id=species.id)}}`;">{{species.name}}</span>
                --> <span class="route_item">{{photo.title}}</span>
            </div>
            <div class="toolbar">
                <a href="{{url_for('editPhoto', species_id=photo.species_id, photo_id=photo.id)}}" class="tool">Edit Post</a>
                <a href="{{url_for('deletePhoto', species_id=photo.species_id, photo_id=photo.id)}}" class="tool">Delete Post</a>
                <a href="{{url_for('showUploads')}}" class="tool">My Uploads</a>
            </div>
            <div class="photo_viewer">
                <div class="creator_data">
                    {% if creator.picture is not none %}
                    <img src="{{creator.picture}}" alt="{{creator.username}}" class="creator_pic">
                    {% else %}
                    <img src="{{url_for('static', filename='blank_user.gif')}}" alt="{{creator.username}}"
                        class="creator_pic">
                    {% endif %}
                    <h6 class="creator_name">{{creator.username}}</h6>
                </div>
                <img src="{{photo.url}}" alt="{{photo.title}}" style="width:100%">
                <div class="container">
                    <h5><b>{{photo.title}}</b></h5>
                    {% if photo.description is not none %}
                    <p>{{photo.description}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div id="about" class="box">
                <h5>About Animal Photos</h5>
                <p>
                    This Web App was designed by <em>Seif El-Din Sweilam</em> as a project in <strong>Udacity</strong>
                    nanodegree program. All photos and content in this webapp are for educational purposes only and
                    won't be used in any type of business.
                </p>
            </div>
        </div>
    </div>
</body>

</html>